<h1 class="animated fadeIn fast">Sobre Comic App</h1>
<hr>
<p class="animated fadeIn ">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo ut eius in est? Et ratione amet expedita corporis vel corrupti ad vero cupiditate, cumque sapiente delectus asperiores impedit! Numquam, quas.</p>