<h1 class="animated fadeIn">{{ hero.nombre | uppercase }} <small>({{ hero.aparicion | date:'y' }})</small></h1>
<hr>

<div class="row animated fadeIn fast">
    <div class="col-md-4">
        <img [src]="hero.img" [alt]="hero.nombre" class="img-fluid">
        <br><br>
        <a [routerLink]="['/heros']" class="btn btn-outline-danger btn-block">Regresar...</a>
    </div>

    <div class="col-md-8">
        <h3>{{ hero.nombre }}</h3>
        <hr>
        <p>
            {{ hero.bio }}
        </p>
        <div>
            <img *ngIf="hero.casa == 'DC'" class="img-logo" src="assets/img/DC.png" alt="DCcomics">
            <img *ngIf="hero.casa == 'Marvel'" class="img-logo" src="assets/img/marvel.png" alt="Marvelcomics">
        </div>
    </div>
</div>