<h1>Heroes <small>Marvel y DC</small></h1>

<div class="card-columns">

    <!-- *ngFor="let hero of heros; let i = index" -->
    <app-heroe-tarjeta (heroSelect)="seeHero( $event )" [hero]="hero" [index]="i" *ngFor="let hero of heros; let i = index"></app-heroe-tarjeta>


</div>