<h1>Buscando : <small> {{ termino }}</small></h1>

<div class="row animated fadeIn fast" *ngIf="heros.length == 0">
    <div class="col-md-12">
        <div class="alert alert-info">
            No existen resultados con el termino: {{ termino }}
        </div>
    </div>
</div>

<div class="card-columns">

    <app-heroe-tarjeta [hero]="hero" [index]='hero.idx' *ngFor="let hero of heros"></app-heroe-tarjeta>

</div>